@{
  Layout = "_Layout";
}

@using Treats.Models; 

<div class="homeImage">
  <h1 id="homeTitle">Deluxe Treat Manager</h1>  
</div>
<hr />
<h3 class="homeList"></h3>
  <div class="homeListBox">
    <div class="row">
      <div class="col-md-6 homeList"> 
        <div class="card">
          <h2><u>Treats</u></h2>
          <ul>
          @if (@ViewBag.Treats.Count == 0)
          {
            <li><strong>No Treats found</strong></li>
          } 
          @foreach (Treat Treat in @ViewBag.Treats)
          {
            <li><strong>@Html.ActionLink($"{Treat.TreatName}", "Details", "Treats", new { id = Treat.TreatId }) </li>
          }
          </ul>
        </div>
      </div>
      <div class="col-md-6 homeList">
        <div class="card">
          <h2><u>Flavors</u></h2>
          <ul>
            @if (@ViewBag.Flavors.Count == 0)
          {
            <li><strong>No Flavors found</strong></li>
          } 
          @foreach (Flavor Flavor in @ViewBag.Flavors)
          {
            <li><strong>@Html.ActionLink($"{Flavor.FlavorName}", "Details", "Flavors", new { id = Flavor.FlavorId }) </li>
          }
          </ul>
        </div>
      </div>    
    </div>
  <hr />
  <div class="row homeList">
    <div class="col-md-6">
        <p>@Html.ActionLink("View Treats", "Index", "Treats", null, new { @class = "btn btn-info btn-large" })</p>
    </div>    
    <div class="col-md-6">
        <p>@Html.ActionLink("View Flavors", "Index", "Flavors", null, new { @class = "btn btn-info btn-large" })</p>    
    </div> 
  </div>
</div>