@{
  Layout = "_Layout";
}

@model Treats.Models.Order

<div class="mainBox">
  <h2>Add a Treat to @Model.OrderName</h2>
  <hr />
  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.OrderId)

      @Html.Label("Select Treat")
      @Html.DropDownList("TreatId", null, "Please Select", htmlAttributes: new{required = "Please select a Treat"})

      @Html.Label("Quantity")
      @Html.TextBox("TreatQuantity",null,
      new {@required="required", type="number",min="0", step="1", oninput="validity.valid||(value='');" })
      
      <input type="submit" value="Add" class="btn btn-info btn-large" />
  }
  <hr />
  <p>@Html.ActionLink("Back to details", "Details", new { id = Model.OrderId}, new { @class = "btn btn-info btn-large" })</p>
  <p>@Html.ActionLink("Show all Orders", "Index",null, null, new { @class = "btn btn-info btn-large" })</p>
</div>


