@{
  Layout = "_Layout";
}

@model Treats.Models.Order

<div class="mainBox">
  <h2>Add a new order for user: @User.Identity.Name</h2>
  <hr />
  @using (Html.BeginForm())
  {
      @Html.Label("Order Name")
      @Html.TextBoxFor(model => model.OrderName, 
      new {@required="required"})
      
      @Html.Label("Order Description")
      @Html.TextBoxFor(model => model.OrderDescription, 
      new {@required="required"})      

      <input type="submit" value="Create Order" class="btn btn-info btn-large" />
  }
  <p>@Html.ActionLink("Show all Orders", "Index",null, null, new { @class = "btn btn-info btn-large" })</p>
</div>