@{
  Layout = "_Layout";
}

@model Treats.Models.Order

<div class="mainBox">
  <h2>Add a new Order</h2>
  <hr />
  @using (Html.BeginForm())
  {
      @Html.Label("Name")
      @Html.TextBoxFor(model => model.OrderName, 
      new {@required="required"})

      
      @Html.Label("Description")
      @Html.TextBoxFor(model => model.OrderDescription, 
      new {@required="required"})

      @* @Html.Label("Status")
      @Html.DropDownListFor(model => model.OrderStatus, new List<SelectListItem>
      { new SelectListItem{Text="Actice", Value="Actice"},
      new SelectListItem{Text="Idle", Value="Idle"},       
      },"Please select", htmlAttributes: new{required = "Please select a stylist"}) *@

      <input type="submit" value="Create Order" class="btn btn-info btn-large" />
  }
  <p>@Html.ActionLink("Show all Orders", "Index",null, null, new { @class = "btn btn-info btn-large" })</p>
</div>