@{
  Layout = "_Layout";
}

@model Treats.Models.Order

<div class="mainBox">
  <h2>Order Details</h2>
  <hr />
  <h3>Name: @Html.DisplayFor(model => model.OrderName) </h3>
  <h4>Description: @Html.DisplayFor(model => model.OrderDescription)</h4>
  
  <hr />
  @if (@Model.Treats.Count == 0)
{
  <p>This Order does not include any Treats.</p>
}
else
{
  <h3>Treats this Order includes:</h3>
  <ul>
    @foreach (var join in Model.Treats)
    {
      @using (Html.BeginForm("DeleteTreat", "Orders"))
      {
      <li>@Html.ActionLink($"{join.Treat.TreatName}", "Details", "Treats", new { id = join.Treat.TreatId })     <input type="submit" value="Remove" class="btn btn-warning btn-sm" /></li>
      @Html.Hidden("OrderId", @join.OrderId)
      @Html.Hidden("joinId", @join.OrderTreatId)      
      }
    }
  </ul>  
}

  <hr />
  <p>@Html.ActionLink("Add Treat", "AddTreat", null, new { id = Model.OrderId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Edit Order", "Edit", null, new { id = Model.OrderId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Delete Order", "Delete", null, new { id = Model.OrderId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Back to Order List", "Index",null, null, new { @class = "btn btn-info btn-sm" })</p>
</div>