@{
  Layout = "_Layout";
}

@using Treats.Models;
@model List<Treats.Models.Order>;

<div class="mainBox">
  <h2>Orders for user: @User.Identity.Name</h2>
  <hr />
  <h4>@ViewBag.filterName</h4>
  <div class="lists">
    <ul >
      @if (@Model.Count == 0)
      {
        <li><strong>No Orders found</strong></li>
      } 
      @foreach (Order Order in Model)
      {
        <li><strong>@Html.ActionLink($"{Order.OrderName}", "Details", new { id = Order.OrderId }) </li>
      }
    </ul>
  </div>
  @using (Html.BeginForm())
  {  
    <label for="Name">Filter by name:</label>
    <input type="text" id="Name" name="name" required> 
    <input type="submit" value="Filter" class="btn btn-info btn-sm"/> 
    @Html.ActionLink("Show all Orders", "Index", null, null, new { @class = "btn btn-info btn-sm" })
  }
  <hr />
  <p>@Html.ActionLink("Add new Order", "Create", null, null, new { @class = "btn btn-info btn-large" })</p>
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
