<div id="header">
  <ul id="headerList">
    <li class="headerUl">@Html.ActionLink("View Orders", "Index", "Orders")</li>
    <li class="headerUl">@Html.ActionLink("View Flavors", "Index", "Flavors")</li>
    <li class="headerUl">@Html.ActionLink("View Treats", "Index", "Treats")</li>      
    <li class="headerUl">@Html.ActionLink("Accounts", "Index", "Account")</li>    
    <a href="@Url.Action("", "/")">
    <li class="homeImageUl"><img id="imageHome" src="~/img/HomeBtn.png"></a></li>
  </ul>
</div>