<div id="header">
  <ul id="headerList">
    <li id="headerUl">@Html.ActionLink("Engineer Manager", "Index", "Engineers")</li>
    <li id="headerUl">@Html.ActionLink("Machine Manager", "Index", "Machines")</li>  
    <li id="headerUl">@Html.ActionLink("Incident Manager", "Index", "Incidents")</li>  
    <li id="headerUl">@Html.ActionLink("Accounts", "Index", "Account")</li> 
    <a href="@Url.Action("", "/")">
    <li id="homeImageUl"><img id="imageHome" src="~/img/HomeBtn.png"></a></li>
  </ul>
</div>