@{
  Layout = "_Layout";
}

@model Treats.Models.Treat

<div class="mainBox">
  <h2>Add @Model.TreatName to an order: </h2>
  <hr />
  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.TreatId)
      @Html.HiddenFor(model => model.TreatName)

      @Html.Label("Select order")
      @Html.DropDownList("OrderId", null, "Please Select", htmlAttributes: new{required = "Please select an order"})

      @Html.Label("Quantity")
      @Html.TextBox("TreatQuantity",null,
      new {@required="required", type="number",min="1", step="1", oninput="validity.valid||(value='');" })
      
      <input type="submit" value="Add" class="btn btn-info btn-large" />
  }
  
  <p>@Html.ActionLink("Show all treats", "Index",null, null, new { @class = "btn btn-info btn-large" })</p>
</div>