@{
  Layout = "_Layout";
}

@model Treats.Models.Treat

<div class="mainBox">
  <h2>Treat Details</h2>
  <hr />
  <h3>Name: @Html.DisplayFor(model => model.TreatName) </h3>
  <h4>Description: @Html.DisplayFor(model => model.TreatDescription)</h4>
  
  <hr />
  @if (@Model.Flavors.Count == 0)
{
  <p>This Treat does not include any Flavors.</p>
}
else
{
  <h3>Flavors this treat includes:</h3>
  <ul>
    @foreach (var join in Model.Flavors)
    {
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
      <li>@Html.ActionLink($"{join.Flavor.FlavorName}", "Details", "Flavors", new { id = join.Flavor.FlavorId })     <input type="submit" value="Remove" class="btn btn-warning btn-sm" /></li>
      @Html.Hidden("TreatId", @join.TreatId)
      @Html.Hidden("joinId", @join.TreatFlavorId)      
      }
    }
  </ul>  
}

  <hr />
  <p>@Html.ActionLink("Add Flavor", "AddFlavor", null, new { id = Model.TreatId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Edit Treat", "Edit", null, new { id = Model.TreatId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Delete Treat", "Delete", null, new { id = Model.TreatId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Back to Treat List", "Index",null, null, new { @class = "btn btn-info btn-sm" })</p>
</div>