@{
  Layout = "_Layout";
}

@model Treats.Models.Treat

<div class="mainBox">
  <h2>Edit Treat</h2>
  <hr />
  <h4>Edit this Treat @Html.DisplayFor(model => model.TreatName)</h4>
  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.TreatId)
      @Html.Label("Name")
      @Html.TextBoxFor(model => model.TreatName, 
      new {@required="required"})

      
      @Html.Label("Description")
      @Html.TextBoxFor(model => model.TreatDescription, 
      new {@required="required"})

      @Html.Label("Price $")
      @Html.TextBoxFor(model => model.TreatPrice, 
      new {@required="required", type="number", step=".01"})

      @* @Html.Label("Status")
      @Html.DropDownListFor(model => model.TreatStatus, new List<SelectListItem>
      { new SelectListItem{Text="Actice", Value="Actice"},
      new SelectListItem{Text="Idle", Value="Idle"},       
      },"Please select", htmlAttributes: new{required = "Please select a stylist"}) *@
     
      <input type="submit" value="Save" />
  }
  <hr />
  <p></p>@Html.ActionLink("Back to details", "Details", new { id = Model.TreatId}, new { @class = "btn btn-info btn-large" })</p>
  <p>@Html.ActionLink("Back to list", "Index",null,null, new { @class = "btn btn-info btn-large" })</p>
</div>