@{
  Layout = "_Layout";
}

@using Treats.Models;
@model List<Treats.Models.Treat>;

<div class="mainBox">
  <h2>Treats!</h2>
  <hr />
  <h4>@ViewBag.filterName</h4>
  <div class="lists">
    <ul >
      @if (@Model.Count == 0)
      {
        <li><strong>No Treats found</strong></li>
      } 
      @foreach (Treat Treat in Model)
      {
        <li><strong>@Html.ActionLink($"{Treat.TreatName}", "Details", new { id = Treat.TreatId }) | $@Treat.TreatPrice.ToString("0.00")</li>
      }
    </ul>
  </div>
  @using (Html.BeginForm())
  {  
    <label for="Name">Filter by name:</label>
    <input type="text" id="Name" name="name" required> 
    <input type="submit" value="Filter" class="btn btn-info btn-sm"/> 
    @Html.ActionLink("Show all Treats", "Index", null, null, new { @class = "btn btn-info btn-sm" })
  }
  <hr />
  @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
{
  <p>@Html.ActionLink("Add new Treat", "Create", null, null, new { @class = "btn btn-info btn-large" })</p>
}
  <p>@Html.ActionLink("Home", "Index", "Home")</p>
</div>
