@{
  Layout = "_Layout";
}

@model Treats.Models.Flavor

<div class="mainBox">
  <h2>Add a new Flavor</h2>
  <hr />
  @using (Html.BeginForm())
  {
      @Html.Label("Flavor Name")
      @Html.TextBoxFor(model => model.FlavorName, 
      new {@required="required"})

      @* @Html.Label("Status")
      @Html.DropDownListFor(model => model.FlavorStatus, new List<SelectListItem>
      { new SelectListItem{Text="Operational", Value="Operational"},
      new SelectListItem{Text="Malfunctioning", Value="Malfunctioning"}, 
      new SelectListItem{Text="Under Repair", Value="Under Repair"},      
      },"Please select", htmlAttributes: new{required = "Please select a stylist"}) *@

      

      <input type="submit" value="Create Flavor" class="btn btn-info btn-large" />
  }
  <hr />
  <p>@Html.ActionLink("Show all Flavors", "Index",null, null, new { @class = "btn btn-info btn-large" })</p>
</div>