@{
  Layout = "_Layout";
}

@model Treats.Models.Flavor

<div class="mainBox">
  <h2>Flavor Details</h2>
  <hr />
  <h3>Name: @Html.DisplayFor(model => model.FlavorName)</h3>
   <h4>Description:  @Html.DisplayFor(model => model.FlavorDescription)</h4>
  
  @if (@Model.Treats.Count == 0)
  {
    <p>No treats include this Flavor.</p>
  }
  else
  {
    <hr />
    <h4>Treats including this Flavor:</h4>
    <ul>
      @foreach (var join in Model.Treats)
      {
        @using (Html.BeginForm("DeleteTreat", "Flavors"))
        {
        <li>@Html.ActionLink($"{join.Treat.TreatName}", "Details", "Treats", new { id = join.Treat.TreatId })     <input type="submit" value="Remove" class="btn btn-warning btn-sm" /></li>
        @Html.Hidden("FlavorId", @join.FlavorId)
        @Html.Hidden("joinId", @join.TreatFlavorId)      
        }
      }
    </ul>  
  }
  
  
  <hr />
  <p>@Html.ActionLink("Add to Treat", "AddTreat", null, new { id = Model.FlavorId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Edit Flavor", "Edit", null, new { id = Model.FlavorId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Delete Flavor", "Delete", null, new { id = Model.FlavorId }, new { @class = "btn btn-info btn-sm" })</p>
  <p>@Html.ActionLink("Back to Flavor List", "Index",null, null, new { @class = "btn btn-info btn-sm" })</p>
</div>